html {
    height: 100%
}

body {
    height: 100%;
    overflow: hidden;
    min-width: 900px;
    max-height: 100%;
    font-family: arial, sans-serif;
    width: 100%;
}

#content {
    position: absolute;
    margin: 0 auto;
    display: block;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;   
}

#logo {
    display: block;
    width: 100%;
}

#logoImg {
    display: block;
    margin: 0 auto;
}

#searchBarDiv {
    border-radius: 25px;
    border: 1px solid lightgray;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
}

#searchBar {
    border-color: none;
    border-width: 0;
    border: 0 properties;
    width: 90%;
    margin: 0 auto;
    display: block;
    font-size: 16px;
}
.hoverClass:hover {
    box-shadow: 5px 5px 5px 5px lightgray;
}

#search {
    margin-left: 10%;
    margin-right: 5%;
    background-color: #f8f9fa;
    height: 10%;
}

#feelingLucky {
    background-color: #f8f9fa;
}

.searchButtons {
    padding: 3%;
    border-color: transparent;
}

.searchButtons:hover {
    cursor: pointer;
    border-color: lightgray;
    border-radius: 11px;
}

textarea:focus, input:focus {
   outline: none;
}

#button-wrapper{
    height: 20%;
    display: block;
    padding: 2%;
    margin: 0 auto;
    width: 20%;
    min-width: 357px;
}

#footer {
    display: flex;
    position:absolute;
    width:100%;
    bottom:0px;
    color: #70757a;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
    background: lightgrey;
    min-width: 1641px;
}

.bottomLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.linkSpan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: .7%;
    font-size: 14px;
    width: 10%;
}

#left {
    display: flex;
    width: 15%;
    margin-right: 71%;
    margin-left: 1%;
}
